#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# Root password
rootpw --iscrypted $6$0000000000000000$ORPS3Eh.gsGbhQSl6oeWSetLCGQTjELJtFEJhWuZpCR0KqQG6ofxzLBcQROxwAamUTvkpAWT30rZ5F3w5SikG.
# System timezone
#timezone Asia/Tokyo --isUtc
timezone Asia/Tokyo --isUtc --ntpservers=ntp.nict.jp
# System language
lang en_US.UTF-8
# Firewall configuration
firewall --enabled --service=ssh
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
firstboot --disable
# SELinux configuration
selinux --enforcing
# Do not configure the X Window System
skipx
# Network information
network  --device=eth0 --bootproto=dhcp --noipv6
network  --hostname=localhost.localdomain
# Reboot after installation
#reboot
# Shutdown after installation
shutdown
# System bootloader configuration
bootloader --append="console=ttyS0,115200n8 net.ifnames=0 biosdevname=0 rhgb quiet" --location=mbr --timeout=5
autopart --type=plain
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all
# System services
services --enabled=chronyd

unsupported_hardware

%packages
@core
chrony

%end

%addon com_redhat_kdump --disable

%end
